{% load static %}
<div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="jtv-hot-deal-product">
        <div class="jtv-new-title">
              <h2>Deals Of The Day</h2>
            </div>
          <ul class="products-grid">
            {% for i in deal %}
            <li class="right-space two-height item">
              <div class="item-inner">
                <div class="item-img">
                  <div class="item-img-info"><a href="#" title="Product tilte is here" class="product-image"><img src="{{i.image.url}}" alt="Product tilte is here"> </a>
                    <div class="hot-label hot-top-left">Hot Deal</div>
                    <div class="mask-shop-white"></div>
                    <a class="quickview-btn" href="quick-view.html"><span>Quick View</span></a> <a href="wishlist.html">
                    <div class="mask-left-shop"><i class="fa fa-heart"></i></div>
                    </a> <a href="compare.html">
                    <div class="mask-right-shop"><i class="fa fa-signal"></i></div>
                    </a> </div>
                    <div class="jtv-timer-box">
                  <div class="countbox_1 timer-grid"></div>
                </div>
                </div>

                <div class="item-info">
                  <div class="info-inner">
                    <div class="item-title"> <a title="Product tilte is here" href="product-detail.html">{{ i.title }} </a> </div>
                    <div class="item-content">
                      <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                      <div class="item-price">
                        <div class="price-box"> <span class="regular-price"> <span class="price">{{ i.previous_price }}</span></span></div>
                      </div>
                      <div class="actions">
                        <div class="add_cart">
                          <button class="button btn-cart" type="button"><span><i class="fa fa-shopping-cart"></i> Add to Cart</span></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
           {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 hidden-sm">
        <div class="sidebar-banner">
        <div class="jtv-top-banner"> <a href="#"> <img src="{% static 'fabulous/images/banner3.jpg' %}" alt="banner"> </a> </div>
        <div class="jtv-top-banner"> <a href="#"> <img src="{% static 'fabulous/images/banner4.jpg' %}" alt="banner"> </a> </div></div>
      </div>
      <!-- Top Seller Slider -->
      <div class="col-sm-4 col-xs-12">
        <div class="jtv-top-products">
          <div class="slider-items-products">
            <div class="jtv-new-title">
              <h2>Top Seller</h2>
            </div>
            <div id="top-products-slider" class="product-flexslider hidden-buttons">
              <div class="slider-items slider-width-col4 products-grid">
                {% for top in top_sell %}
                <div class="item">
                  <div class="item-inner">
                    <div class="item-img">
                      <div class="item-img-info"><a class="product-image" title="Product tilte is here" href="product-detail.html"> <img alt="Product tilte is here" src="{{top.image.url}}"> </a>
                        <div class="mask-shop-white"></div>
                        {% for i in top.condition.all %}
                        <div class="new-label new-top-left">{{ i.title }}</div>
                        {% endfor %}
                        <a class="quickview-btn" href="quick-view.html"><span>Quick View</span></a> <a href="wishlist.html">
                        <div class="mask-left-shop"><i class="fa fa-heart"></i></div>
                        </a> <a href="compare.html">
                        <div class="mask-right-shop"><i class="fa fa-signal"></i></div>
                        </a> </div>
                    </div>
                    <div class="item-info">
                      <div class="info-inner">
                        <div class="item-title"> <a title="Product tilte is here" href="product-detail.html">{{ top.title }} </a> </div>
                        <div class="item-content">
                          <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                          <div class="item-price">
                            <div class="price-box"> <span class="regular-price"> <span class="price">{{ top.previous_price }}</span></span></div>
                          </div>
                          <div class="actions">
                            <div class="add_cart">
                              <button class="button btn-cart" type="button"><span><i class="fa fa-shopping-cart"></i> Add to Cart</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <!-- End Top Seller Slider -->
      </div>
    </div>
  </div>