{% extends 'Accounts/layout/master.html' %}
{% block title %}Details Page{% endblock %}
{% block body %}
        <div class="row justify-content-between align-items-center mb-10">
        <!-- Page Headings Start -->
        <div class="row justify-content-between align-items-center mb-10">

            <!-- Page Heading Start -->
            <div class="col-12 col-lg-auto mb-20">
                <div class="page-heading">
                    <h3><a title="Back to Mail Menu" class="edit button button-box button-xs button-info" href="#"><i class="zmdi zmdi-mail-reply-all"></i></a> &nbsp; Product Details Page</h3>
                </div>
            </div><!-- Page Heading End -->

        </div>
        <!-- Page Headings End -->
    </div>

    <div class="row mbn-50">
        <!--Timeline / Activities Start-->
        <div class="col-xlg-12 col-12 mb-50">
            <div class="box">

                <div class="box-head">
                    <h3 class="title">Details of #</h3>
                </div>

                <div class="box-body">

                    <div class="timeline-wrap row mbn-50">
                        <div class="col-12 mb-50">
                            <ul class="timeline-list">
                                <li>
                                    <span class="icon"><i class="zmdi zmdi-receipt"></i></span>
                                    <div class="details">
                                        <h5 class="title"><a href="#">#</a></h5>
                                        <div class="gallery">
                                            <div class="row mbn-30">
                                                <div class="col-md-4 col-sm-6 col-12 mb-30"><a href="#"><img src="#" alt=""></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <span class="icon"><i class="zmdi zmdi-receipt"></i></span>
                                    <div class="details">
                                        <h5 class="title"><a href="#">#</a></h5>
                                        <div class="content">
                                            <!--Accordion Color Start-->
                                            <!--Accordion Start-->
                                            <div class="accordion accordion-icon primary" id="accordionExampleThree">

                                                <!--Card Start-->
                                                <div class="card">

                                                    <!--Card Header Start-->
                                                    <div class="card-header">
                                                        <h2><button data-toggle="collapse" data-target="#collapse3One">Description</button></h2>
                                                    </div>
                                                    <!--Card Header End-->

                                                    <!--Collapse Start-->
                                                    <div id="collapse3One" class="collapse show" data-parent="#accordionExampleThree">
                                                        <div class="card-body">
                                                            <p>#</p>
                                                        </div>
                                                    </div>
                                                    <!--Collapse End-->

                                                </div>
                                                <!--Card End-->

                                            </div>
                                            <!--Accordion End-->
                                            <!--Accordion Color End-->
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <span class="icon"><i class="zmdi zmdi-receipt"></i></span>
                                    <div class="details">
                                        <h5 class="title"><a href="#">Overview of #</a></h5>
                                        <div class="content">
                                            <!--Accordion Color Start-->
                                            <!--Accordion Start-->
                                            <div class="accordion accordion-icon primary" id="accordionExampleThree">

                                                <!--Card Start-->
                                                <div class="card">

                                                    <!--Card Header Start-->
                                                    <div class="card-header">
                                                        <h2><button data-toggle="collapse" data-target="#collapse3One">Overview</button></h2>
                                                    </div>
                                                    <!--Card Header End-->

                                                    <!--Collapse Start-->
                                                    <div id="collapse3One" class="collapse show" data-parent="#accordionExampleThree">
                                                        <div class="card-body">
                                                            <p>#</p>
                                                        </div>
                                                    </div>
                                                    <!--Collapse End-->

                                                </div>
                                                <!--Card End-->

                                            </div>
                                            <!--Accordion End-->
                                            <!--Accordion Color End-->
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <span class="icon"><i class="zmdi zmdi-receipt"></i></span>
                                    <div class="details">
                                        <h5 class="title"><a href="#"># Details</a></h5>
                                        <div class="content">

                                                <div class="alert alert-success" role="alert">
                                                    Status: <a class="alert-link" href="#"> Active</a>
                                                </div>

                                                <div class="alert alert-danger" role="alert">
                                                    Status: <a class="alert-link" href="#"> Inactive</a>
                                                </div>

                                            <div class="alert alert-warning" role="alert">
                                                Category: <a class="alert-link" href="#"> #</a>
                                            </div>
                                            <div class="alert alert-primary" role="alert">
                                                Brand: <a class="alert-link" href="#"> #</a>
                                            </div>
                                            <div class="alert alert-primary" role="alert">
                                                Quantity: <a class="alert-link" href="#"> #</a>
                                            </div>
                                            <div class="alert alert-primary" role="alert">
                                                Price:  <a class="alert-link" href="#"> #</a>
                                            </div>
                                            <div class="alert alert-primary" role="alert">
                                                Discount Price: <a class="alert-link" href="#"> #</a>
                                            </div>
                                            <div class="alert alert-primary" role="alert">
                                                Weight: <a class="alert-link" href="#">#</a>
                                            </div>
                                            <div class="alert alert-primary" role="alert">
                                                Color: <a class="alert-link" href="#">#</a>
                                            </div>
                                                <div class="alert alert-primary" role="alert">
                                                    Size: <a class="alert-link" href="#">#</a>
                                                </div>
                                                <div class="alert alert-primary" role="alert">
                                                    Related Image: <a class="alert-link" href="#">#</a>
                                                </div>

                                                <div class="alert alert-primary" role="alert">
                                                    Updater: <a class="alert-link" href="#">#</a>
                                                </div>

                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--Timeline / Activities End-->
    </div>
{% endblock %}